/* prevent interference between data_table and bootstrap table */
.dash-table-container .row {
  display: block;
  margin: 0;
}

.dash-graph-districts {
    height: 600px;
}

/* condition for screen size lower than XYZpx */
@media (max-width:600px) {
  /* your conditional / responsive CSS inside this condition */
  body {
    //zoom: 200%;
    //font-size: 200%;
    //scale(2);
  }

  .dash-graph-districts {
    height: 400px;
  }
}

/* set data_table height */
.dash-spreadsheet-inner.dash-spreadsheet.dash-freeze-top.dash-no-filter.dash-fill-width {
  max-height: 600px;
}